<a href="<%= chat_path(conversation.id) %>" class="list-group-item list-group-item-action list-group-item-light rounded-0 active text-white" data-user="<%= conversation.id %>">
  <div class="media">
    <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
    <div class="media-body ml-4">
      <div class="d-flex align-items-center justify-content-between mb-1">
        <h6 class="mb-0">
          <%= conversation.username %>
        </h6>
        <small class="small font-weight-bold">
          <%= conversation.updated_at %>
        </small>
      </div>
      <p class="font-italic text-muted mb-0 text-small">
        This should be the last message of the conversation. Which needs to be figured out as well
      </p>
    </div>
  </div>
</a>