<a class="list-group-item list-group-item-action rounded-0 active text-white">
  <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
    <div class="media-body ml-4">
      <div class="d-flex align-items-center justify-content-between mb-1">
        <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">25 Dec</small>
      </div>
      <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>
  </div>
</a>