<div class="container py-5 px-4">
  <div class="row rounded-lg overflow-hidden shadow">

    <%# CONVERSATION %>
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent
            <button class="btn btn-link float-right" style="padding: 0" id="add_btn">
              Add
            </button>
          </p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">

            <% @conversations.each do |conversation| %>
              <%= render 'components/conversation_inactive', conversation: conversation[:other_user], conversation_id: conversation[:conversation_id] %>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <%# CONVERSATION %>
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">

        <h2>Please select a conversation to view</h2>

      </div>

      <%# TYPE NEW MESSAGE %>
      <%= form_with method: :post, class: 'bg-light' do %>
        <div class="input-group">
          <input type="text" name="message" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light" autocomplete="off" disabled>
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link" disabled> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%# MODAL %>
<%= render 'components/conversation_new_modal' %>

<%= javascript_pack_tag 'modal', 'data-turbolinks-track': 'reload' %>